.icons-list div {
    line-height: 40px;
    white-space: nowrap;
    cursor: default;
    position: relative;
    z-index: 1;
}

.icons-list div i {
    display: inline-block;
    width: 40px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    transition: font-size 0.2s;
}

.icons-list div:hover i {
    font-size: 26px;
}

/* General Styles */

@media screen and (max-width: 992px) {
    body:before,
    body:after {
        height: 2px;
    }
}

a:hover,
a:focus {
    color: #437ac7;
    text-decoration: none;
}

.sidebar-nav .metismenu {
    width: 100%;
}

.inlineblock,
.card,
.card .header .header-dropdown li,
.navbar-fixed-top .navbar-right .navbar-nav,
.navbar-fixed-top .navbar-right .navbar-nav > li,
.user-account .dropdown,
ul.choose-skin li div,
ul.choose-skin li span,
.wizard > .actions ul,
.tabcontrol > .steps > ul > li > a,
.tabcontrol > .content,
.chat-widget li.right .chat-info,
.chat-widget li .chat-info,
.info-box-2 .icon,
.info-box-2 .content,
.weather .days li,
.weather3 .top .wrapper .temp .temp-value,
.weather3 .top .wrapper .temp .deg,
.stats-report .stat-item,
.new_timeline .header .color-overlay .day-number,
.new_timeline .header .color-overlay .date-right,
.new_timeline li div,
.team-info li,
.chart.easy-pie-chart-1,
.c_list .c_name,
.right_chat .media .message,
.right_chat .media .status,
.dt-bootstrap4 .dt-buttons,
.dt-bootstrap4 .dataTables_info,
.dt-bootstrap4 .dt-buttons + .dataTables_filter,
.dt-bootstrap4 .dt-buttons + .dataTables_paginate,
.dt-bootstrap4 .dataTables_info + .dataTables_filter,
.dt-bootstrap4 .dataTables_info + .dataTables_paginate,
.social_icon,
.member-card .social-links li {
    display: inline-block;
}
.card {
    width: 100% !important;
}
.displayblock,
.card .header .header-dropdown li a,
.card .header h2 small,
.navbar-nav ul.notifications li > a,
.navbar-nav ul.notifications li .text,
.navbar-nav ul.user-menu > li > a,
.user-account .user-name,
.user-account .dropdown .dropdown-menu a,
.sidebar-nav .metismenu a {
    display: block;
}

@media screen and (max-width: 768px) {
    footer {
        position: relative;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .hidden-xs {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .hidden-sm {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .hidden-md {
        display: none;
    }
}

*[dir="rtl"] .metismenu .arrow {
    float: left;
}

*[dir="rtl"] .metismenu .plus-times {
    float: left;
}

*[dir="rtl"] .metismenu .plus-minus {
    float: left;
}

.metismenu .arrow {
    float: right;
    line-height: 1.42857;
}

.metismenu .glyphicon.arrow:before {
    content: "\e079";
}

.metismenu .active > a > .glyphicon.arrow:before {
    content: "\e114";
}

.metismenu .fa.arrow:before {
    content: "\f104";
}

.metismenu .active > a > .fa.arrow:before {
    content: "\f107";
}

.metismenu .ion.arrow:before {
    content: "\f3d2";
}

.metismenu .active > a > .ion.arrow:before {
    content: "\f3d0";
}

.metismenu .plus-times {
    float: right;
}

.metismenu .fa.plus-times:before {
    content: "\f067";
}

.metismenu .active > a > .fa.plus-times {
    transform: rotate(45deg);
}

.metismenu .plus-minus {
    float: right;
}

.metismenu .fa.plus-minus:before {
    content: "\f067";
}

.metismenu .active > a > .fa.plus-minus:before {
    content: "\f068";
}

/* .metismenu .collapse {
      display: none;
  } */

.metismenu .collapse.in {
    display: block;
}

.metismenu .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: 0.35s;
    transition-property: height, visibility;
}

.metismenu .has-arrow {
    position: relative;
}

.metismenu .has-arrow:after {
    position: absolute;
    content: "";
    width: 0.5em;
    height: 0.5em;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: initial;
    right: 1em;
    transform: rotate(-45deg) translate(0, -50%);
    transform-origin: top;
    top: 50%;
    transition: all 0.3s ease-out;
}

*[dir="rtl"] .metismenu .has-arrow::after {
    right: auto;
    left: 1em;
    transform: rotate(135deg) translate(0, -50%);
}

.metismenu .active > .has-arrow::after,
.metismenu .has-arrow[aria-expanded="true"]::after {
    transform: rotate(-135deg) translate(0, -50%);
}

*[dir="rtl"] .metismenu .active > .has-arrow::after,
*[dir="rtl"] .metismenu .has-arrow[aria-expanded="true"]::after {
    transform: rotate(225deg) translate(0, -50%);
}

@media screen and (max-width: 992px) {
    #wrapper:before,
    #wrapper:after {
        width: 2px;
    }
}

#main-content {
    transition: all 0.3s ease-in-out;
    width: calc(100% - 250px);
    float: right;
    position: relative;
    margin-top: 65px;
    padding: 0 10px;
}

@media screen and (max-width: 1200px) {
    #main-content {
        width: 100%;
        padding: 0;
    }
}

.card .header {
    color: #444444;
    padding: 20px;
    position: relative;
    box-shadow: none;
}

.card .header .header-dropdown {
    position: absolute;
    top: 14px;
    right: 20px;
    list-style: none;
}

.card .header .header-dropdown li a {
    padding: 5px 10px;
}

.card .header .header-dropdown li .dropdown-menu {
    background: #17191c;
    border-radius: 0.55rem;
    overflow: hidden;
    transform: none !important;
    left: auto !important;
    right: 0;
    padding: 10px;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    border: 0;
}

.card .header .header-dropdown li .dropdown-menu li {
    display: block !important;
}

.card .header .header-dropdown li .dropdown-menu li a {
    padding: 10px;
    color: #999999;
    white-space: nowrap;
    font-size: 14px;
}

.card .header .header-dropdown li .dropdown-menu li a:hover {
    color: #ffffff;
}

.card .header .header-dropdown i {
    font-size: 20px;
    color: #999999;
    transition: all 0.5s;
}

.card .header h2 {
    font-size: 16px;
    color: #444444;
    position: relative;
}

.card .header h2 small {
    font-size: 13px;
    color: #999999;
    line-height: 15px;
}

.card .header h2 small a {
    font-weight: 700;
    color: #777777;
}

.card .p-15 {
    padding: 15px !important;
}

.card .body {
    color: #444444;
    padding: 20px;
    font-weight: 400;
}

/* Navigation */
/* Top Nav Bar */
.navbar-fixed-top {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 99;
    border-bottom: 1px solid #eeeeee;
    z-index: 9999;
}

@media screen and (max-width: 992px) {
    .navbar-fixed-top {
        top: 2px;
    }
}

.navbar-fixed-top .navbar-btn {
    display: none;
    float: left;
}

.navbar-fixed-top .navbar-btn button {
    font-size: 20px;
    line-height: 0.7;
    border: none;
    background: none;
    outline: none;
}

@media screen and (max-width: 640px) {
    .navbar-fixed-top .navbar-btn {
        margin-left: 0;
    }
}

@media screen and (max-width: 1200px) {
    .navbar-fixed-top .navbar-btn {
        display: block;
    }
}

.navbar-fixed-top .navbar-brand {
    padding: 15px 0;
    position: relative;
}

@media screen and (max-width: 992px) {
    .navbar-fixed-top .navbar-brand {
        padding: 15px 10px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-fixed-top .navbar-brand {
        margin-right: 0;
        float: left;
    }
}

.navbar-fixed-top .navbar-brand img {
    width: 100px;
    vertical-align: top;
    margin-top: 2px;
}

.navbar-fixed-top .navbar-right {
    width: calc(100% - 250px);
}

@media screen and (max-width: 1024px) {
    .navbar-fixed-top .navbar-right {
        width: calc(100% - 150px);
    }
}

@media screen and (max-width: 992px) {
    .navbar-fixed-top .navbar-right {
        width: calc(100% - 160px);
    }
}

@media screen and (max-width: 768px) {
    .navbar-fixed-top .navbar-right {
        width: calc(100% - 160px);
    }
}

.navbar-fixed-top .navbar-right #navbar-search {
    float: left;
    margin-top: 6px;
}

.navbar-fixed-top .navbar-right #navbar-search .form-control {
    height: 40px;
}

.navbar-fixed-top .navbar-right #navbar-search i {
    font-size: 12px;
}

@media screen and (max-width: 767px) {
    .navbar-fixed-top .navbar-right #navbar-search {
        display: none;
    }
}

.navbar-nav .icon-menu {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: 15px;
    position: relative;
}

.navbar-nav .icon-menu i {
    font-size: 18px;
    color: #666666;
}

.navbar-nav .icon-menu::after {
    display: none;
}

.navbar-nav .icon-menu .notification-dot {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 12px;
    right: 7px;
    background-color: #17191c;
}

.navbar-nav ul.notifications {
    background: #17191c;
    width: 500px;
}
.navbar-nav .dropdown-menu {
    max-height: 500px !important;
    overflow: scroll !important;
}
.navbar-nav .dropdown-menu::-webkit-scrollbar {
    width: 5px;
}
/* Track */
.navbar-nav .dropdown-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.navbar-nav .dropdown-menu::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.navbar-nav .dropdown-menu::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 768px) {
    .navbar-nav ul.notifications {
        width: calc(100% - 20px);
        margin: 0 10px;
    }
    .navbar-nav .dropdown-menu {
        max-height: 400px !important;
        overflow: scroll !important;
    }
}

.navbar-nav ul.notifications li {
    border-bottom: 1px solid #1f2125;
}

.navbar-nav ul.notifications li.header {
    color: #999999;
}

.navbar-nav ul.notifications li.footer a {
    color: #5c8ed4;
}

.navbar-nav ul.notifications li.footer a:hover,
.navbar-nav ul.notifications li.footer a:focus {
    background: transparent;
}

.navbar-nav ul.notifications li:last-child {
    border-bottom: none;
}

.navbar-nav ul.notifications li i {
    font-size: 24px;
}

.navbar-nav ul.notifications li > a {
    padding: 15px 0;
    color: #777777;
}

.navbar-nav ul.notifications li > a:hover,
.navbar-nav ul.notifications li > a:focus {
    background-color: rgba(255, 255, 255, 0.03);
}

.navbar-nav ul.notifications li .text {
    white-space: nowrap;
    width: 88%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.navbar-nav ul.notifications li .timestamp {
    font-size: 13px;
    color: #666666;
}

.navbar-nav ul.user-menu {
    width: 250px;
}

@media screen and (max-width: 768px) {
    .navbar-nav ul.user-menu {
        right: 20px;
    }
}

.navbar-nav ul.user-menu > li.menu-heading {
    padding: 25px 20px 5px 0px;
    font-weight: 700;
}

.navbar-nav ul.user-menu > li > a:hover,
.navbar-nav ul.user-menu > li > a:focus {
    background: none;
}

.navbar-nav ul.user-menu.menu-icon {
    color: #ffffff;
}

.navbar-nav ul.user-menu.menu-icon > li > a {
    color: #ffffff;
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        margin-right: 0;
    }

    .navbar-nav > li {
        display: table-cell;
        position: inherit;
        /* text-align: center; */
        padding-left: 1rem;
    }

    .navbar-nav .dropdown-menu {
        max-height: 400px;
        overflow: auto;
    }

    .navbar-nav .dropdown-menu > li > a {
        white-space: normal;
    }

    .navbar-nav .open .dropdown-menu {
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
        position: absolute;
        width: 100%;
        background: #ffffff;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        padding: 3px 20px;
    }

    .navbar-nav .open .dropdown-menu.notifications > li > a {
        padding: 12px 15px;
    }
}

@media screen and (max-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }
}

#navbar-menu {
    float: right;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    border-color: #ddd;
}

.dropdown-menu > li > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #5a5a5a;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #5c8ed4;
}

.btn-toggle-fullwidth {
    z-index: 99;
    margin-top: -6px;
    padding-left: 0 !important;
}

.btn-toggle-fullwidth i {
    margin: 0 !important;
}

@media screen and (max-width: 1024px) {
    .btn-toggle-fullwidth {
        display: none;
    }
}

.dropdown-lg .dropdown-menu {
    top: 40px !important;
    right: 0 !important;
    width: 350px;
    left: auto !important;
    transform: inherit !important;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

/* Side Bar Menu */
#left-sidebar {
    transition: all 0.3s ease-in-out;
    width: 250px;
    height: calc(100vh - 50px);
    float: left;
    margin-top: 63px;
    position: fixed;
    /* left: 5px; */
    background-color: #f4f7f6;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#left-sidebar::-webkit-scrollbar {
    width: 5px;
}

@media screen and (max-width: 1200px) {
    .show-bar {
        width: 250px !important;
    }
    #left-sidebar {
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
        /* left: -250px; */
        width: 0;
    }
}

#left-sidebar .nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: #dee2e6 #dee2e6 #f4f7f6;
}

.layout-fullwidth #wrapper #left-sidebar {
    left: -250px;
}

.layout-fullwidth #wrapper #left-sidebar.ps {
    overflow: visible !important;
}

.layout-fullwidth #wrapper #main-content {
    width: 100%;
}

.offcanvas-active #left-sidebar {
    left: 5px;
}

.user-account {
    margin: 20px;
    position: relative;
}

.user-account .user-photo {
    width: 50px;
    vertical-align: top;
    border: 2px solid #dfdfdf;
}

.user-account .user-name {
    color: inherit;
}

.user-account .user-name:hover,
.user-account .user-name:focus {
    text-decoration: none;
}

.user-account .dropdown .dropdown-menu {
    transform: none !important;
    border: none;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    padding: 15px;
    background: #17191c;
    border-radius: 0.55rem;
}

.user-account .dropdown .dropdown-menu li.divider {
    border-bottom: 1px solid #444444;
    margin: 10px 0;
}

.user-account .dropdown .dropdown-menu a {
    padding: 10px;
    font-size: 14px;
    color: #999999;
}

.user-account .dropdown .dropdown-menu a:hover {
    color: #ffffff;
    background-color: transparent;
}

.user-account .dropdown .dropdown-menu a:hover i {
    color: #ffffff;
}

.user-account .dropdown .dropdown-menu a i {
    font-size: 14px;
}

.sidebar-nav ul {
    list-style: none;
}

.sidebar-nav .metismenu {
    display: flex;
    flex-direction: column;
}

.sidebar-nav .metismenu > li {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.sidebar-nav .metismenu > li a {
    border-left: 5px solid transparent;
}

.sidebar-nav .metismenu > li.active > a {
    background-color: #f1f1f1;
}

.sidebar-nav .metismenu > li .active a {
    font-weight: 700;
}

.sidebar-nav .metismenu > li i {
    position: relative;
    top: 2px;
    font-size: 17px;
}

.sidebar-nav .metismenu a {
    transition: all 0.3s ease-out;
    position: relative;
    padding: 13px 15px;
    outline-width: 0;
    color: #17191c;
    font-size: 15px;
}

.sidebar-nav .metismenu ul a {
    padding: 10px 15px 10px 57px;
    position: relative;
    color: #777777;
    font-size: 14px;
}

.sidebar-nav .metismenu ul a::before {
    content: "--";
    position: absolute;
    left: 19px;
}

.sidebar-nav .metismenu ul ul a {
    padding: 10px 15px 10px 70px;
}

.sidebar-nav .metismenu ul.collapse a:hover,
.sidebar-nav .metismenu ul.collapse a:focus {
    text-decoration: none;
}

.sidebar-nav .metismenu a:hover,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:active {
    text-decoration: none;
    background: #f1f1f1;
}

.sidebar-nav .metismenu .has-arrow::after {
    color: #b5b5b5;
}

.card .header,
.navbar-nav ul.notifications li > a .media,
.navbar-nav ul.notifications li .text {
    margin-bottom: 0px;
}

.card .header h2 small,
.user-account .dropdown {
    margin-top: 5px;
}

.navbar-nav ul.user-menu.menu-icon > li > a span {
    margin-left: 10px;
}

.user-account .user-photo,
.user-account .dropdown .dropdown-menu a i {
    margin-right: 10px;
}

.card .header .header-dropdown,
.navbar-fixed-top,
.navbar-fixed-top .navbar-btn,
.sidebar-nav ul {
    padding: 0 !important;
}
.user-dropdown {
    transform: none !important;
    border: none;
    box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
    padding: 13px;
    background: #17191c;
    border-radius: 0.55rem;
    color: #fff;
    width: 150px;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 50;
}

.user-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.user-dropdown ul li {
    padding: 10px;
}
.user-dropdown ul li a {
    font-size: 15px;
    color: #999999;
    text-decoration: none;
}
.user-dropdown ul li a i {
    padding-right: 10px;
}
.user-dropdown ul li a:hover {
    color: #fff;
}
.main-content {
    margin-left: 250px;
    margin-top: 100px;
}
.footer-note {
    margin-left: 150px !important;
}
@media screen and (max-width: 1200px) {
    .main-content {
        margin-left: 0px;
    }
    .footer-note {
        margin-left: 0px !important;
    }
}
.page-container > form > .row > .col-md-7 > .card {
    width: 100%;
}

/* Create Order */
.order-content .multiselect__tags,
.order-content .no-gutters,
.order-content .custom-border {
    border: 1px solid #51adf6 !important;
}
.order-content .vue-file-agent {
    border-color: #03c1ff !important;
}
/* .order-content hr{
    border-color: #0f80de !important;
} */

/* 404 page */

#notfound {
    position: relative;
    height: 80vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 410px;
    width: 100%;
    text-align: center;
}

.notfound .notfound-404 {
    height: 280px;
    position: relative;
    z-index: -1;
}

.notfound .notfound-404 h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 230px;
    margin: 0px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url("../img/bg.jpg") no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
    margin-top: -20px;
}

.notfound h2 {
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

.notfound p {
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}

.notfound a {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #0046d5;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
    box-shadow: 0px 4px 15px -5px #0046d5;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 142px;
    }
    .notfound .notfound-404 h1 {
        font-size: 112px;
    }
}
